.form-control {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border-radius: 12px;
  font-family: 'BenchNine', sans-serif;
}

#add-edit-friend {
  font-family: 'BenchNine', sans-serif;
  margin-top: 10%;
}