@import "~bootstrap/scss/bootstrap";
// @import "./styles/variables";

body {
  background-color: white;
  background-image: url("./images/background.png");
  background-attachment: fixed;
  text-align: center; 
}

#singleWrap {
  text-align: center;
}